@font-face {
    font-family: 'iA Writer Quattro S';
    src: url('./iAWriterQuattroS/iAWriterQuattroS-Regular.eot') format('embedded-opentype')
        url('./iAWriterQuattroS/iAWriterQuattroS-Regular.woff2') format('woff2'),
        url('./iAWriterQuattroS/iAWriterQuattroS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iA Writer Quattro S';
    src: url('./iAWriterQuattroS/iAWriterQuattroS-Bold.eot') format('embedded-opentype')
        url('./iAWriterQuattroS/iAWriterQuattroS-Bold.woff2') format('woff2'),
        url('./iAWriterQuattroS/iAWriterQuattroS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'iA Writer Quattro S';
    src: url('./iAWriterQuattroS/iAWriterQuattroS-Italic.eot') format('embedded-opentype')
        url('./iAWriterQuattroS/iAWriterQuattroS-Italic.woff2') format('woff2'),
        url('./iAWriterQuattroS/iAWriterQuattroS-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'iA Writer Quattro S';
    src: url('./iAWriterQuattroS/iAWriterQuattroS-BoldItalic.eot') format('embedded-opentype')
        url('./iAWriterQuattroS/iAWriterQuattroS-BoldItalic.woff2') format('woff2'),
        url('./iAWriterQuattroS/iAWriterQuattroS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}